.section4{
    width: 1000px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color:plum;
    color: white;
}
.section5{
    width: 1000px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color:green;
    color: white;
}